<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezra.mapper.UserMapper">


    <select id="pageQuery" resultType="com.ezra.vo.UserVO">
        select id,user_id userId, name userName, province_id provinceId, city_id cityId, create_time,update_time
        from user
        where status =1
        <if test="dto.name != null and dto.name !=''">
            and name like concat(#{dto.name},"%")
        </if>
        <if test="dto.provinceId != null">
            and province_id = #{dto.provinceId}
        </if>
        <if test="dto.cityId != null">
            and city_id =#{dto.cityId}
        </if>

        order by update_time desc
    </select>
    <select id="pageQuery2" resultType="com.ezra.vo.UserVO">
        -- MySQL 高性能推荐的写法
        -- 千万级别的表 分页查询join的优化写法，目前优化的速度在1000000 offset情况下约为1s左右
        select id,user_id userId, name userName, province_id provinceId, city_id cityId, create_time,update_time
        from user
        inner join  (
            select id from user
            where status =1
            <if test="dto.name != null and dto.name !=''">
                and name like concat(#{dto.name},"%")
            </if>
            <if test="dto.provinceId != null">
                and province_id = #{dto.provinceId}
            </if>
            <if test="dto.cityId != null">
                and city_id =#{dto.cityId}
            </if>
            order by update_time desc
            limit #{dto.startNum}, #{dto.size}
        ) data
        USING (id)
        order by update_time desc
    </select>
    <select id="pageQueryCount" resultType="java.lang.Integer">
        select count(id) from user
        where status =1
        <if test="dto.name != null and dto.name !=''">
            and name like concat(#{dto.name},"%")
        </if>
        <if test="dto.provinceId != null">
            and province_id = #{dto.provinceId}
        </if>
        <if test="dto.cityId != null">
            and city_id =#{dto.cityId}
        </if>
    </select>
</mapper>