<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezra.mapper.BaseRoleMapper">


    <select id="rolePage" resultType="com.ezra.vo.RoleVO">
        select role_id,type,role_name,create_time,create_user,update_time,update_user
        from base_role
        where status =1
        <if test="dto.roleName != null and dto.roleName !=''">
            and role_name like concat(#{dto.roleName},'%')
        </if>
        <if test="dto.type != null">
            and type = #{dto.type}
        </if>
        order by update_time desc
    </select>
</mapper>